APP_NAME="Dinofy Master"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://admin.dinofy.app

DB_CONNECTION=mysql
DB_HOST=master-mysql
DB_PORT=3306
DB_DATABASE=dinofy_master
DB_USERNAME=master
DB_PASSWORD=master_secret

BASE_DOMAIN=dinofy.app
DINOFY_IMAGE=dinofy_app:latest
TENANT_DATA_PATH=/srv/tenants

CAJUPAY_API_BASE_URL=https://api.cajupay.com.br
CAJUPAY_API_KEY=
CAJUPAY_API_SECRET=
CAJUPAY_WEBHOOK_SECRET=

ACME_EMAIL=admin@dinofy.app
CF_API_EMAIL=
CF_DNS_API_TOKEN=

ADMIN_EMAIL=admin@dinofy.app
ADMIN_PASSWORD=
